::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Aleo", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d5d4d4;
  background: rgba(0, 0, 0, 0.527) url("../assets/background6.jpg") no-repeat
    center center fixed;
  background-blend-mode: darken;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100vh;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
